@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    /* background-color: #000000; */
    background-image:url('img/back.jpg');
    background-size: 100% 125%;
    max-height: 120vh;
    color:white;
}
@-webkit-keyframes myfirst
{
	0% {margin-top: -235px}
	88% {margin-top: 100%;}
	100% {margin-top: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-top: -235px}
	70% {margin-top: 100%;}
	100% {margin-top: 100%;}
}
.paper{
	width: 10px;
	height: 17.5px;
    border-radius: 5px;
	margin-top: -235px;
	position: absolute;	
	animation: myfirst 18s;
	-webkit-animation: myfirst 18s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
#paper1,#paper4,#paper11,#paper41,#paper12,#paper42{
    background-image: url('img/Untitled.png');
}
#paper2,#paper5,#paper21,#paper51,#paper22,#paper52{
    background-image: url('img/Untitled1.png');
}
#paper3,#paper6,#paper31,#paper61,#paper32,#paper62{
    background-image: url('img/Untitled2.png');
}
#paper1{
    left: 12.5%;
}
#paper2{
    animation-delay: 5s;
	-webkit-animation-delay: 5s;
    left: 30%;
}
#paper3{
    animation-delay: 2s;
	-webkit-animation-delay: 2s;
    left: 45%;
}
#paper4{
    animation-delay: 3s;
	-webkit-animation-delay: 3s;
    left: 60%;
}
#paper5{
    animation-delay: 1s;
	-webkit-animation-delay: 1s;
    left: 75%;
}
#paper6{
    animation-delay: 4s;
	-webkit-animation-delay: 4s;
    left: 88%;
}
#paper11{
    left: 12.5%;
    animation-delay: 11s;
	-webkit-animation-delay: 11s;
}
#paper21{
    animation-delay: 9s;
	-webkit-animation-delay: 9s;
    left: 30%;
}
#paper31{
    animation-delay: 7s;
	-webkit-animation-delay: 7s;
    left: 45%;
}
#paper41{
    animation-delay: 10s;
	-webkit-animation-delay: 10s;
    left: 60%;
}
#paper51{
    animation-delay: 8s;
	-webkit-animation-delay: 8s;
    left: 75%;
}
#paper61{
    animation-delay: 6s;
	-webkit-animation-delay: 6s;
    left: 88%;
}
#paper12{
    left: 12.5%;
    animation-delay: 16s;
	-webkit-animation-delay: 16s;
}
#paper22{
    animation-delay: 12s;
	-webkit-animation-delay: 12s;
    left: 30%;
}
#paper32{
    animation-delay: 14s;
	-webkit-animation-delay: 14s;
    left: 45%;
}
#paper42{
    animation-delay: 12.5s;
	-webkit-animation-delay: 12.5s;
    left: 60%;
}
#paper52{
    animation-delay: 13s;
	-webkit-animation-delay: 13s;
    left: 75%;
}
#paper62{
    animation-delay: 17s;
	-webkit-animation-delay: 17s;
    left: 88%;
}
.Leaderboard{
    background-image: linear-gradient(to top left, #0066ff 0%, #2d0038 100%);
    color:white;
    margin: 3% 25% 15px 25%;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size:2em;
    font-weight:600;
}
hr{
    background-color:white;
}
.tables
{
    width:80%;
    margin:2vh auto;
    margin-top: 15vh;
    text-align: center;
}
.base-row{
    /* font-size: 2em; */
    font-size:1.5vw !important;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.col_3{
    min-width: 20vw;
}
.col_1,.col_2,.col3{
    flex-basis:20%;
}
.col_5{
    display: flex;
    max-width: 20vw;
    overflow: hidden;
    justify-content:space-around;
    padding-left: 5vw;
}
.col_5 img{
    width:20%;
    object-fit: contain;
}
@media screen and (max-width:500px){
    .Leaderboard{
        width:70vw;
        font-size:1.5em;
        margin:5vh auto;
    }
    .paper{
        display: none;
    }
}